<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE generatorConfiguration  
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"  
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">  
  
<!-- 此文件为通用mapper生成代码的配置 -->  
<!-- 配置文件信息见：https://mapperhelper.github.io/docs/3.usembg/ -->  
<generatorConfiguration>  
  <context id="Mysql" targetRuntime="MyBatis3Simple" defaultModelType="flat">  
   
    <plugin type="tk.mybatis.mapper.generator.MapperPlugin">  
      <property name="mappers" value="tk.mybatis.mapper.common.Mapper"/>  
      <!-- caseSensitive默认false，当数据库表名区分大小写时，可以将该属性设置为true -->  
      <property name="caseSensitive" value="true"/> 
    </plugin>  
    <!-- 增加Models Serializable实现 -->
    <plugin type="org.mybatis.generator.plugins.SerializablePlugin" />
    <!-- jdbc连接信息 -->
    <jdbcConnection driverClass="org.gjt.mm.mysql.Driver"
        connectionURL="jdbc:mysql://192.168.0.210:3306/edupay"
        userId="root" 
        password="QazWsx!23">
    </jdbcConnection>  
      
    <!-- type="org.mybatis.generator.internal.types.JavaTypeResolverDefaultImpl" -->  
    <javaTypeResolver>  
        <property name="forceBigDecimals" value="false" />  
    </javaTypeResolver>  
  
    <javaModelGenerator targetPackage="com.edupay.app.entity" targetProject=".\src\main\java"/>  
  
    <!-- <sqlMapGenerator targetPackage="mapper"  targetProject=".\src\main\resources"/> -->  
  
    <javaClientGenerator targetPackage="com.edupay.app.dao" targetProject=".\src\main\java" type="ANNOTATEDMAPPER" />  
  
    <table tableName="bit_app" domainObjectName="App">  
        <generatedKey column="app_id" sqlStatement="Mysql" identity="true"/>
<!--        <generatedKey column="unionpay_record_id" sqlStatement="UUID"/> -->
    </table>
      
  </context>  
    
</generatorConfiguration>